@model AtlantWeb.Models.DetailViewModel


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateDetail", "Details", FormMethod.Post)) {
    
    @Html.HiddenFor(model => model.DetailId)

    <div class="control-group">
        @Html.LabelFor(model => model.Code)
        <div class="form-group">
            @Html.EditorFor(model => model.Code, new { @class = "code" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Name)
        <div class="form-group">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Amount)
        <div class="form-group">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Special)
        <div class="form-group">
            @Html.CheckBoxFor(model => model.Special)
            @Html.ValidationMessageFor(model => model.Special)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.AddDate)
        <div class="form-group">
            @Html.EditorFor(model => model.AddDate)
            @Html.ValidationMessageFor(model => model.AddDate)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Stockmen)
        <div class="form-group">
            @Html.DropDownListFor(model => model.Stockmen.StockmenId, ViewBag.Stockmens as SelectList)
        </div>
    </div>

    <p>
        <input type="submit" value="Save"/>
        @Html.ActionLink("Cancel", "Details", null, null, new { @class = "btn" })
    </p>
}

@section scripts{
<script>
    $(document).ready(function () {
        $("#Code").mask("999-999999");
    });
</script>
    }