<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

@model IEnumerable<AtlantWeb.Models.DetailViewModel>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add new detail", "CreateDetail")
</p>

<div class="form-group">
    @using (Ajax.BeginForm("DetailsTableBody", new AjaxOptions { UpdateTargetId = "details" }))
    {
        <label>Search detail by code: </label>
        <input type="text" name="code" />
        <input type="submit" class="btn-default" value="Search" />
    }
</div>

<table class="table" id="searchResults">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Special)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stockmen.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="details">
        @Html.Action("DetailsTableBody")
    </tbody>

</table>

